<ion-view view-title="{{page_title}}">
	<ion-nav-bar class="bar-dark"><ion-nav-back-button></ion-nav-back-button></ion-nav-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Child Name</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Child Age</span>
				<input type="text">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Child Gender
				</div>
				<select>
					<option selected>Male</option>
					<option>Female</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Field Position
				</div>
				<select>
					<option selected>Goalkeeper</option>
					<option>Defense</option>
					<option>Midfield</option>
					<option>Forward</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">Address</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Zip/Postal Code</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">City</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Phone</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Emergency Contact Phone</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Medical Conditions</span>
				<input type="text">
			</label>
		</div>
	</ion-content>
</ion-view>